.button {
  width: 100%;
  height: 48px;
  background: rgb(105, 65, 198);
  background: linear-gradient(
    180deg,
    rgba(105, 65, 198, 1) 0%,
    rgba(83, 56, 158, 1) 100%
  );
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.button:disabled {
  cursor: default;
}

@media (min-width: 480px) {
  .button {
    background: rgb(105, 65, 198);
    background-color: var(--primary-color);
  }
}
