.header {
  display: flex;
  align-self: flex-end;
  justify-content: flex-start;
  height: 72px;
  border-bottom: 2px solid var(--border);
  width: 190px;
}

.imgContainer {
  height: max-content;
  padding: 16px 24px;
}

img {
  aspect-ratio: auto;
  object-fit: contain;
  max-height: 30px;
}

@media (min-width: 480px) {
  .header {
    width: 100%;
    height: 96px;
    align-self: flex-start;
    padding: 0 15px;
  }
  .imgContainer {
    display: flex;
    padding: 28px 0px;
  }
}
