.app-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 1580px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.register {
  width: 40%;
  height: 100%;
  padding-top: 21px;
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.picture {
  display: none;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
  background-image: url("/inicia-sesión-agente.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% 40%;
}

@media (min-width: 1026px) {
  .picture {
    display: flex;
  }
}
@media (min-width: 480px) {
  .register {
    padding-top: 0px;
  }
}
